<div class="d-flex justify-content-center mt-2">
    <h1>Hello DigitalOcean!</h1>
</div>

<% if user_signed_in? %> 
 <div class="nav-item mb-2 mt-2"> Welcome <%= current_user.email %> </div> 
  <%= button_to "Sign out", destroy_user_session_path, method: :delete, class: "btn btn-outline-secondary" %> 
<% else %>
<div class="button mb-2 mt-2">
  <%= button_to "Sign in", new_user_session_path, class: "btn btn-primary" %> 
<% end %>